/* src/pages/BankInfo.css */
.branch-info-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.add-branch .branch-report {
  flex: 1;
  margin: 0 10px;
}

.add-branch {
  max-width: 400px; /* Adjust width as needed */
}

.branch-report {
  /* max-width: 800px;  */
}
